<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAXVXdDqhHkzHLgI0BLblJ7a_yJ3xpzlY</string>
	<key>GCM_SENDER_ID</key>
	<string>1046169935737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.socialNotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>voisbe</string>
	<key>STORAGE_BUCKET</key>
	<string>voisbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046169935737:ios:1aebc8771eaed8dec359a8</string>
</dict>
</plist>